/* Custom container override with !important */
.container {
  width: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 1rem !important; /* optional internal padding */
  padding-right: 1rem !important;
}

@media (min-width: 1280px) and (max-width: 1319px) {
  .container {
    max-width: 88% !important; /* default was 1280px */
  }
}
@media (min-width: 1320px) {
  .container {
    max-width: 1320px !important;
  }
}
/* 1536px to 1599px screens */
@media (min-width: 1536px)  {
    .container {
      max-width: 1420px !important;
    }
  }

/* 1600px to 1679px screens */
/* @media (min-width: 1600px) and (max-width: 1679px) {
    .container {
      max-width: 1350px !important;
    }
  } */
  .embla .subheading {
    padding-bottom: 8px;
  }


  

  @media (max-width: 1198px) {
    .stricky-header.stricky-fixed{
      padding-top: 10px;
      padding-bottom: 10px;
    }
    
  }
  .service-page-why{
    margin-bottom: 25px !important;
  }

  .sidebar__emergency-services-inner > .text-box {
    text-align: justify;
  }


                                                ul.custom-list {
                                                    list-style: none;
                                                    padding-left: 0;
                                                }
                                    
                                                ul.custom-list li {
                                                    display: flex;
                                                    align-items: flex-start;
                                                    margin-bottom: 12px;
                                                }
                                    
                                                ul.custom-list .icon-verified {
                                                    margin-right: 8px;
                                                    flex-shrink: 0;
                                                    color: inherit;
                                                    font-size: 0.9em;
                                                    margin-top: 4.8px;
                                                }
                                    
                                                ul.custom-list p {
                                                    margin: 0;
                                                    text-align: justify;
                                                    color: inherit;
                                                }
                                    
                                                .icon-verified {
                                                    color: #ff5e14 !important;
                                                }


.embla{
  display: none;
}
